.class-for-index {
    background: white;
}

.class-for-blog {
  background: white:;
}

.class-for-projects {
  Background: #FAA0A0;
}

.class-for-about{
  background: #FFFAA0;
}
/* Add a background colour to the nav */
.topnav {
    position: relative;
    background-color: #414b4869;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: white;
    color: black;
  }

  /* The name of the developer on the page */
  .name{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    font-size: 50px;
  }

  /* The job */
  .job{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
  }

  /* Display Photo */
  .picture{
    display: flex;;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px black;
  }

  /* Hover over photo */
  .picture:hover{
    transform:scale(1.15);
  }

  /* Little intro about yourself */
  .intro{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    border-spacing: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  /* button linking to projects */
  .home-button {
    background-color: rgb(255, 230, 0);
    border: none;
    color: black;
    padding: 10px 55px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow: 2px 2px 5px black;
  }

  /* what the button does when you hover over it */
  .home-button:hover {
    transform: scale(1.25);
    cursor: pointer;

  }

  #blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    font-family: 'Poppins', sans-serif;
    color:#0f0f0f;
  }

  a {
    text-decoration: none;
  }

  .blog-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .blog-heading span{
    color: #f33c3c;
  }

  .blog-heading h3{
    font-size:2.4rem;
    color: #2b2b2b;
    font-weight: 600;

  }

  .blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
  }

  .blog-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
  }

  .blog-img{
    width: 100%;
    height: auto;
  }

  .blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

  }

  .blog-text{
    padding:30px;
    display: flex;
    flex-direction: column;
  }

  .blog-text span{
    color: #f33c3c;
    font-size: 0.9rem;
  }

  .blog-text .read-more{
    font-size: 1.3rem;
    font-weight: 500;
    color:#272727;
  }

  .blog-text .read-more:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
  }

  .blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
  }

  .blog-text a{
    color: #0f0f0f;
  }

  .blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
    cursor: pointer;
  }

  /* mobile */

  @media screen and (max-width: 851px){
    .class-for-index {
      background: #957DAD;
    }
    
  

  }

  
